<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container text-center">
    <h3>Add Product</h3>
    <form action="/admin/add" method="POST" enctype="multipart/form-data">
        <input type="text" class="form-control" name="name" placeholder="Name">
        <% let nameError = validationErrors.find(err => err.path === 'name') %>
        <% if (nameError) { %>
            <p class="alert alert-danger">
                <%= nameError.msg %>
            </p>
        <% } %>
        
        <input type="number" class="form-control" name="price" placeholder="Price">
        <% let priceError = validationErrors.find(err => err.path === 'price') %>
        <% if (priceError) { %>
            <p class="alert alert-danger">
                <%= priceError.msg %>
            </p>
        <% } %>
        
        <textarea class="form-control" name="description" placeholder="Description"></textarea>
        <% let descriptionError = validationErrors.find(err => err.path === 'description') %>
        <% if (descriptionError) { %>
            <p class="alert alert-danger">
                <%= descriptionError.msg %>
            </p>
        <% } %>
        
        <select class="form-control" name="category">
            <option value="" disabled selected>Choose a category</option>
            <option value="phones">Phones</option>
            <option value="clothes">Clothes</option>
            <option value="computers">Computers</option>
        </select>
        <% let categoryError = validationErrors.find(err => err.path === 'category') %>
        <% if (categoryError) { %>
            <p class="alert alert-danger">
                <%= categoryError.msg %>
            </p>
        <% } %>
        
        <div class="form-control">
            <label for="image">Choose File</label>
            <input type="file" name="image" id="image">
        </div>
        <% let imageError = validationErrors.find(err => err.path === 'image') %>
        <% if (imageError) { %>
            <p class="alert alert-danger">
                <%= imageError.msg %>
            </p>
        <% } %>
        
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<%- include('parts/footer') %>