<%- include('parts/header') %>
<%- include('parts/navbar') %>

<% if(validationErrors) { %>
    <div class="alert alert-danger">
        <%= validationErrors.msg %>
    </div>
<% } %>

<div class="container">
    <% if(items.length === 0) { %>
        <p class="alert alert-danger">There is no items</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <td>no</td>
                    <td>Product name</td>
                    <td>Price</td>
                    <td>Amount</td>
                    <td>Total</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < items.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= items[i].name %></td>
                        <td><%= items[i].price %> $</td>
                        <form>
                            <td><input type="text" name="amount" class="form-control" value="<%= items[i].amount %>"></td>
                            <td><%= items[i].price * items[i].amount %> $</td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="hidden" name="productName" value="<%= items[i].name %>">
                                <input type="hidden" name="productId" value="<%= items[i].productId %>">
                                <input type="hidden" name="totalPrice" value="<%= items[i].price * items[i].amount %>">
                                <input type="submit" class="btn btn-success" value="Save" 
                                    formaction="/cart/save" formmethod="POST">
                                <input type="submit" class="btn btn-success" value="Order" 
                                    formaction="/verify" formmethod="GET">
                                <input type="submit" class="btn btn-danger" value="Delete" 
                                    formaction="/cart/delete" formmethod="POST">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>

        </table>
        <form action="/cart" method="POST">
            <input type="submit" value="Delete All" class="btn btn-danger" formaction="/cart/deleteall">
        </form>
    <% } %>
</div>

<%- include('parts/footer') %>
