<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <% if(orders.length === 0) { %>
        <p class="alert alert-danger">There is no orders</p>
    <% } else { %>
        <table>
            <thead>
                <tr>
                    <td>no</td>
                    <td>Product name</td>
                    <td>totalPrice</td>
                    <td>Amount</td>
                    <td>Address</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < orders.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= orders[i].productName %></td>
                        <td><%= orders[i].totalPrice %> $</td>
                        <td><%= orders[i].amount %></td>
                        <td><%= orders[i].address %></td>
                        <td><%= orders[i].status %></td>
                        <form method="POST">
                            <td>
                                <input type="hidden" name="orderId" value="<%= orders[i]._id %>">
                                <input type="hidden" name="productId" value="<%= orders[i].productId %>">
                                <input type="submit" class="btn btn-danger" value="Cancel" formaction="/cart/delete">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>

        </table>
        <form action="/order" method="POST">
            <input type="submit" value="Cancel All" class="btn btn-danger" formaction="/cart/cancelall">
        </form>
    <% } %>
</div>

<%- include('parts/footer') %>
