<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container text-center">
    <h3>Verify your order</h3>
    <form action="/order" method="POST">
        <input type="text" class="form-control" name="address" placeholder="Address">
        <input type="hidden" name="productName" value="<%= productName %>">
        <input type="hidden" name="productId" value="<%= productId %>">
        <input type="hidden" name="amount" value="<%= amount %>">
        <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
        <input type="submit" value="Order" class="btn btn-success">
    </form>
    <br>
</div>


<%- include('parts/footer') %>
